<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false" backupStaticAttributes="false">
	<testsuites>
		<testsuite name="PHP">
			<directory suffix="Test.php">test</directory>
		</testsuite>
	</testsuites>
	<php>
		<const name="TEST_EXECUTION" value="true" />
		<const name="TEST_SERVER_HOST" value="127.0.0.1" />
		<const name="TEST_SERVER_PORT" value="11300" />
	</php>
</phpunit>
